/*================= body content =================*/

.intro {
    background: #fffef1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.intro .left {
    flex: 1;
    font-size: 25px;
}

.intro .left h1 {
    font-weight: 700;
}

.intro .left a {
    padding: 10px 50px;
    width: 100%;
    background: #FEF58E;
    border: 2px solid rgb(15, 15, 15);
    text-transform: uppercase;
    border-radius: 20px;
    color: #272727;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.intro img {
    flex: 2;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 500px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px 0;
    }
    header ul {
        font-size: 10px;
        width: auto;
    }
    header ul input {
        width: 10px;
    }
    .intro {
        flex-direction: column;
    }
}


/*================= features =================*/

.features h2 {
    text-align: center;
    letter-spacing: -2px;
    font-weight: bolder;
}

.features b {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}

.feature_card {
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.feature_card .card_info {
    background: white;
    color: #7e7c68;
    height: 220px;
    width: 220px;
    border: 1px solid #cdcdcd;
    position: relative;
    padding-left: 70px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card_info .one {
    height: 100%;
    width: 50px;
    background: #dcdcdc;
    position: absolute;
    top: -20px;
    left: 10px;
}

.card_info .three {
    position: absolute;
    right: -20px;
    width: 50px;
    height: 50px;
    background: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#two {
    background: #fdf9d1;
}

#three {
    background: #fff9bb;
}

#four {
    background: #fed58f;
}


/* =================== PRODUCTS ==================== */

.products {
    width: 100%;
    padding: 4px;
    display: flex;
    overflow-x: auto;
}

.product {
    background: white;
    width: 230px;
    border: 1px solid #cdcdcd;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px 0 0;
}

.circle {
    width: 200px;
    height: 200px;
    background: #fdc96f;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.next {
    background: orange;
    padding: 20px;
    font-size: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_box {
    background: #dcdcdc;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 500;
    width: 100%;
}


/* =================== Our Products ================ */

.our_products {
    display: flex;
    justify-content: space-between;
}

a {
    outline: none;
}

.our_products ul {
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.our_products ul li {
    display: inline-block;
    font-size: 16px;
}

.our_products ul li a {
    color: #5f5f5f;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s;
}

.our_products ul li .underline {
    height: 2px;
    background-color: transparent;
    width: 0%;
    transition: width 0.2s, background-color 0.5s;
    margin: 0 auto;
}

.our_products ul li.active-link .underline {
    width: 100%;
    background-color: rgb(44, 44, 44);
}

.our_products ul li:hover .underline {
    background-color: rgb(49, 49, 49);
    width: 100%;
}

.our_products ul li:hover a {}

.our_products ul li:active a {
    transition: none;
    color: rgba(94, 94, 94, 0.76);
}

.our_products ul li:active .underline {
    transition: none;
    background-color: rgba(63, 63, 63, 0.76);
}

@media screen and (max-width: 768px) {
    .our_products {
        flex-direction: column;
    }
}


/* ========== Our Products BG ================ */

.our_product_bg {
    margin: 12px 0;
}

.our_product_bg_img {
    width: 100%;
}


/* ============ Breads ================ */

.breads {
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 50px;
}

.bread_top {
    width: 260px;
    height: 260px;
    border: 1px solid #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bread_circle {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    background: #fdc96f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bread_bottom p {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.btn_bread_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn_bread_box .add_to_cart {
    background: #edf2f7;
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    font-weight: 600;
    width: 60%;
    margin: 0 10px;
}

.btn_bread_box .buy_now {
    background: #fda50f;
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    font-weight: 600;
    color: white;
    width: 40%;
    margin: 0 10px;
}