body {
    background: #fffef1;
}

.container {
    background: #fffef1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    background: white;
    width: 420px;
    padding: 25px;
    box-shadow: 2px 0px 10px -4px grey;
    color: #545454;
    font-size: 16px;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_box form {
   padding-top: 35px;
}

.login_box form input {
    width: 100%; 
    height: 40px;
    border: none;
    background: #edf2f7;
    outline: none;
    padding: 0 30px;
    color: #545454;
    font-size: 16px;
}

.login_box form input[type="submit"] {
    background: #fcf4a3;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
    color: #545454;
    cursor: pointer;
}

.login_box #forgot_password {
    font-weight: 600px;
    color: #4d4d4d;
}


.login_box input[type="button"] {
    background: white;
    border: 2px solid #cdcdcd;
    font-size: 16px;
    padding: 10px ;
    color: #545454;
    width: 100%;
    margin-top: 88px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}