.box {
    display: flex;
}

.side_nav {
    flex: 1;
}

.nav_outer a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.nav_outer li:hover {
    background: white;
}

.nav_outer li {
    margin: 8px;
    background: #edf2f7;
    padding: 15px 5px 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav_outer li i {
    width: 25px;
    font-size: 18px;
}

#white {
    background: white;
}

.nav_inner li {
    padding: 0 10px;
    background: white;
    border-bottom: 1px solid #d7d7d7;
}


/* ===== My Profile ===== */

.my_profile {
    flex: 3;
    margin: 8px 0;
    background: #edf2f7;
    padding: 10px;
}

.add_new {
    padding: 2px 5px;
    border: none;
    background: #fda50f;
    color: white;
    float: right;
    cursor: pointer;
}

table td button {
    border: none;
    padding: 2px;
    color: grey;
}

@media screen and (max-width: 768px) {
    .box {
        flex-direction: column;
    }
}