body {
    background: #fffef1;
}

.container {
    background: #fffef1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box {
    color: #4d4c48;
    line-height: 28px;
    width: 380px;
}

.box header {
    margin-bottom: 20px;
    text-align: center;
}

.box form {
    background: white;
    padding: 20px;
    box-shadow: 2px 0px 10px -4px grey;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box form label {
    color: #808080;
}

.box form input[type="text"] {
    background: #edf2f7;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 30px;
    font-size: 18px;
}

.box form button {
    background: #fcf4a3;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}



@media screen and (max-width: 768px) {
    .box {
        width: auto;
    }
}